@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav {
    @apply flex items-center justify-between   h-[60px] md:h-[80px] p-4;
  }
  .flex-center {
    @apply flex items-center;
  }
  .btn-sm {
    @apply px-2 py-1 bg-black rounded-md hover:text-black  text-white text-sm flex items-center justify-center;
  }
  .icons {
    @apply transition hover:cursor-pointer hover:text-blue-300 flex flex-col items-center justify-center text-xs font-bold;
  }
  .wrapper {
    @apply container mx-auto p-5;
  }
}

.product-desc {
  max-width: 30ch;
}

.card-container {
  position: relative;
}

.card-container:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
